/EjemplosFX/build/
/EjemplosFX/dist/
/PantallaPruebas/nbproject/private/
/PantallaPruebas/dist/
/PantallaPruebas/build/
/calculadora/nbproject/private/
/calculadora/build/
/calculadora/dist/
/calculadora5/nbproject/private/
/(Interfaz Manual)ProyectoProgramacionCalculadora/dist/
/May 31 Proyecto Unidad 2 Calculadora/dist/
May 31 Proyecto Unidad 2 Calculadora/nbproject/private/private\.xml

\.DS_Store

\(Interfaz Manual\)ProyectoProgramacionCalculadora/nbproject/private/private\.properties

May 31 Proyecto Unidad 2 Calculadora/nbproject/private/private\.properties

\(Interfaz Manual\)ProyectoProgramacionCalculadora/nbproject/private/private\.xml
/proyecto_u3_v2_1/dist/