/EjemplosFX/build/
/EjemplosFX/dist/
/PantallaPruebas/nbproject/private/
/PantallaPruebas/dist/
/PantallaPruebas/build/
/calculadora/nbproject/private/
/calculadora/build/
/calculadora/dist/
/calculadora5/nbproject/private/